@{
    ViewBag.Title = "Підтверждення збросу пароля";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Ваш пароль скинутий. @Html.ActionLink("Натисніть тут для авторизації", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
